NODE_ENV=development

HOST=0.0.0.0
PORT=3000

LOG_LEVEL = info

# DATABASE_URL="postgresql://postgres:postgres@postgres:5432/IRCTC?schema=public"
DATABASE_URL="postgresql://postgres:1234@localhost:5432/IRCTC"

JWT_SECRET=your-secret-key


JWT_EXPIRES_IN=1d

JWT_ACCESS_SECRET=your-secret-key
JWT_REFRESH_SECRET=super-refresh-secret

JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

REDIS_URL = ""